
@{
    ViewBag.Title = "ForgetPassword";
}

<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial;
        background-size: 100%;
        background-image: url("https://media.istockphoto.com/id/1063685792/photo/gradient-with-black-pearl-blue-color-modern-texture-background-degrading-fragments-smooth.jpg?b=1&s=170667a&w=0&k=20&c=xj6kzSRSmUnr6_4_AdjN5h6q327CZlL5AqPo7ImAVhk=");
    }

    .login {
        width: 450px;
        overflow: hidden;
        margin: auto;
        padding: 80px;
    }

    h2 {
        text-align: center;
        color: white;
        padding: 20px;
    }

    label {
        color: black;
        font-size: 17px;
    }

    .login {
        width: 345px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 45px;
        background-color: lightgrey;
        border-radius: 15px;
    }

    #Uname {
        width: 250px;
        height: 20px;
        border: none;
        border-radius: 17px;
        padding-left: 8px;
    }

    #Pass {
        width: 250px;
        height: 20px;
        border: none;
        border-radius: 17px;
        padding-left: 8px;
    }

    #log {
        width: 250px;
        height: 30px;
        border: none;
        border-radius: 17px;
        padding-left: 7px;
        color: black;
    }
</style>
<body>
    <b><h2>FORGOT PASSWORD</h2></b>
    <br>
    <div class="login">
        <form id="login" method="get" action="login.php">
            <label>
                <b>
                    E-Mail
                </b>
            </label>
            <input type="text" name="Uname" id="Uname" placeholder="Username">
            <br><br>
            <input type="button" name="log" id="log" value="Send">

        </form>
    </div>
</body>
